In [5]:
x = input("please enter your first name ")
y = input("Please enter your last name ")
print("Your full name is ", y+' '+x)

please enter your first name Imane
Please enter your last name Boukerrouis
Your full name is  Boukerrouis Imane

In [44]:
n = input("enter an integer number ")
n2 = n+n
n3 = n+n+n
n = int(n)
n2 = int(n2)
n3 = int(n3)

print("Result ", n+n2+n3)

enter an integer number 5
Result  615

In [13]:
z = input("Please enter a number ")
z = int(z)
if z % 2 == 0 :
    print(z, " is even")
else :
    print(z, " is odd")

Please enter a number 5
5  is odd

In [19]:
A = []
for i in range(2000,3501,1):
    if i%7 == 0:
        if i%5 == 0 :
            i = i+1
        elif i%5 != 0 :
            A.append(i)
    i += 1
print(A)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199, 3206, 3213, 3227, 3234, 3241, 3248, 3262, 3269, 3276, 3283, 3297, 3304, 3311, 3318, 3332, 3339, 3346, 3353, 3367, 3374, 3381, 3388, 3402, 3409, 3416, 3423, 3437, 3444, 3451, 3458, 3472, 3479, 3486, 3493]

In [43]:
j = 1
m = input("Enter your number : ")
m = int(m)
factorial = 1
if m == 0:
    print("The factorial of ", m," is ",1)
elif m ==1:
    print("The factorial of ", m," is ",1)
else:
    while j <= m:
        factorial *= j
        j += 1
    print("The factorial of ", m," is ",factorial)

Enter your number : 4
The factorial of  4  is  24

In [42]:
B = ''
string = input("enter your text : ")
for i in range(0,len(string)):
    if i%2 == 0 :
        B = B + string[i]
print("The new text is : ", B)

enter your text : hello team
The new text is :  hlota

In [40]:
price = input("price = ")
discount  = 0
price = int(price)
if 0 < price < 200 :
    discount = 10 * price / 100
    price -= discount
if 200 <= price < 500 :
    discount = 30 * price / 100
    price -= discount 
else :
    dicount = 50 * price / 100
    price -= discount 
print("The discount is ", round(discount) ," and the new price is ", round(price))

price = 300
The discount is  90  and the new price is  210